.head:hover{
    color: red;
    font-size: 20px;
  }

img{
    width:90%;
    border:10px solid black;
    margin: auto;
    display: block;
    height: 900px;
  }

.i{
    background: rgb(210, 155, 28);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.i1{
    margin-top: 7px;
}

.i2{
    margin-top: 7px;
}

.sub{
    margin-top: 7px;
}

button{
    margin-top: 7px;
}
